body {
	font-size: 12px !important;
}
.dataTables_wrapper .dataTables_filter {
    float: left;
}
.highlightred {
    font-weight: bold !important;
    color: red !important;
}
.highlightgreen {
    font-weight: bold !important;
    color: green !important;
}
.important {
    color: #0f0 !important; 
}
.important2 {
    color: #f00 !important; 
}
table.dataTable tbody th,
table.dataTable tbody td {
    white-space: nowrap;
}