{% extends "core/base.html" %}

{% load static %}
{% block content %}
<div class="container mt-4 text-center">
    <div class="panel panel-default mx-auto" style="width: 400px;">
        <div class="panel-heading"><strong>Functions</strong></div>
        <br>
            <div class="d-grid gap-3">
                <a href="{% url 'senta:receive_from_su_b' %}" class="btn btn-light border w-100 mx-auto">Receive Barcodes from Subotica</a>
                <a href="{% url 'senta:receive_from_su_c' %}" class="btn btn-light border w-100 mx-auto">Receive Carelabels from Subotica</a>
                <a href="{% url 'senta:give_to_the_line' %}" class="btn btn-light border w-100 mx-auto">Give to the Senta Lines</a>
                <a href="{% url 'senta:return_to_main' %}" class="btn btn-light border w-100 mx-auto">Return to Subotica</a>
                <a href="{% url 'senta:reduce_from_stock' %}" class="btn btn-light border w-100 mx-auto">Reduce from stock</a>

            </div>
    </div>
</div>
{% endblock %}


{% block scripts %}
{% endblock %}