{% extends "core/base.html" %}

{% load static %}
{% block content %}
<div class="container mt-8">
    <h2 class="mb-4">Edit PO</h2>

    <form method="POST" class="card p-4 shadow-sm">
        {% csrf_token %}

        <input type="hidden" name="po" value="{{ pos.po }}" class="form-control">

        <div class="mb-3">
            <label for="po" class="form-label">PO:</label>
            <input type="text" id="po" name="po1" class="form-control" value="{{ pos.po }}" disabled>
        </div>
        <div class="mb-3">
            <label for="size" class="form-label">Size:</label>
            <input type="text" id="size" name="size" class="form-control" value="{{ pos.size }}" required>
        </div>
        <div class="mb-3">
            <label for="color" class="form-label">Color:</label>
            <input type="text" id="color" name="color" class="form-control" value="{{ pos.color }}" required>
        </div>
        <div class="mb-3">
            <label for="total_order_qty" class="form-label">Total order qty:</label>
            <input type="text" id="total_order_qty" name="total_order_qty" class="form-control" value="{{ pos.total_order_qty }}" required>
        </div>

        <div class="mb-3">
            <label for="type" class="form-label">Type:</label>
            <select name="type" id="type" class="form-select" required>
                <option value="" {% if not pos.type %}selected{% endif %}>-- Select Type --</option>
                <option value="ORANGE" {% if pos.type == "ORANGE" %}selected{% endif %}>ORANGE</option>
                <option value="GREEN" {% if pos.type == "GREEN" %}selected{% endif %}>GREEN</option>
                <option value="RFID 360" {% if pos.type == "RFID 360" %}selected{% endif %}>RFID 360</option>
                <option value="AD 58*18mm" {% if pos.type == "AD 58*18mm" %}selected{% endif %}>AD 58*18mm</option>
                <option value="None" >None</option>
            </select>
        </div>

        <div class="mb-3">
            <label for="comment" class="form-label">Comment:</label>
            <input type="text" id="comment" name="comment" class="form-control" value="{{ pos.comment }}" required>
        </div>
        <div class="mb-3">
            <label for="closed_po" class="form-label">Status:</label>
            <select name="closed_po" id="closed_po" class="form-select">
                <option value="Open" {% if pos.closed_po == "Open" %}selected{% endif %}>Open</option>
                <option value="Closed" {% if pos.closed_po == "Closed" %}selected{% endif %}>Closed</option>
            </select>
        </div>

        <div class="d-flex justify-content-between">
            <a href="javascript:history.back()" class="btn btn-secondary">Cancel</a>
            <button type="submit" class="btn btn-success">Save Changes</button>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}