{% extends "core/base.html" %}

{% load static %}
{% block content %}

<div class="container mt-4">
    <div class="row justify-content-center">
<!--        <div class="row g-4">-->

<!--        &lt;!&ndash; Panel A &ndash;&gt;-->
<!--        <div class="col-md-6">-->
<!--            <div class="card shadow-sm p-3">-->
<!--                <h4 class="mb-3">📦 Import Leftovers - ON STOCK </h4>-->
<!--                    <span style="text-font:10px">(material,price,sku,qty,location,place)</span>-->
<!--                    <small>set positive qty in Excel and app will import with status ON STOCK</small>-->
<!--                <br>-->
<!--                <form method="POST"  enctype="multipart/form-data" action="{% url 'preparation:import_file' %} ">-->
<!--                    {% csrf_token %}-->
<!--                    <input type="hidden" name="import_source" value="import_leftover">-->
<!--                    <div class="mb-3">-->
<!--                        <label class="form-label">Upload Excel File:</label>-->
<!--                        <input type="file" name="file" class="form-control">-->
<!--                    </div>-->
<!--                    <button type="submit" class="btn btn-primary w-100">Import</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->

<!--        &lt;!&ndash; Panel B &ndash;&gt;-->
<!--        <div class="col-md-6">-->
<!--            <div class="card shadow-sm p-3">-->
<!--                <h4 class="mb-3">📋 Import Leftovers - USED</h4>-->
<!--                    <span style="text-font:10px">(material,price,sku,qty,location,place)</span>-->
<!--                    <small>set positive qty in Excel and app will import as a negative stock with status USED</small>-->
<!--                <br>-->
<!--                <form method="POST" enctype="multipart/form-data" action="{% url 'preparation:import_file' %} ">-->
<!--                    {% csrf_token %}-->
<!--                    <input type="hidden" name="import_source" value="import_leftover_neg">-->
<!--                    <div class="mb-3">-->
<!--                        <label class="form-label">Upload Excel File:</label>-->
<!--                        <input type="file" name="file" class="form-control">-->
<!--                    </div>-->
<!--                    <button type="submit" class="btn btn-success w-100">Import</button>-->
<!--                </form>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->

        <div class="row g-4">

        <!-- Panel A -->
        <div class="col-md-6">
            <div class="card shadow-sm p-3">
                <h4 class="mb-3">📦 Import Leftovers 2 </h4>
                    <span style="text-font:8px">Excel headers: <br>
                        material, sku, type, price(barcode), pro(carelabel), location, place, total qty (sum) </span>
                    <br>
                    <small>Info: <br>
                        If qty is positive, status will be ON STOCK or if it is negative will be USED <br>
                        Barcode must have price and carelabel must have ponum
                    </small>
                <br>
                <form method="POST"  enctype="multipart/form-data" action="{% url 'preparation:import_file2' %} ">
                    {% csrf_token %}
                    <input type="hidden" name="import_source" value="import_leftover">
                    <div class="mb-3">
                        <label class="form-label">Upload Excel File:</label>
                        <input type="file" name="file" class="form-control">
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Import</button>
                </form>
            </div>
        </div>

        <!-- Panel B -->
        <div class="col-md-6">

        </div>

    </div>

    {% if messages %}
    <div class="mt-4">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}